
* {
    margin: 0;
    padding: 0;
   
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
}

header {
    background: linear-gradient(135deg, #00471f, #002108);
    color: white;
    padding: 1rem ;
    position: relative;
}

header h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

main {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    padding: 30px;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}

h2 {
    color: #2c5032;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

p {
    margin-bottom: 15px;
}

h3 {
    color: #008e37;
    margin: 20px 0 10px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c5032;
}

.form-group {
    margin-bottom: 10px;
}

input, textarea, select {
    width: 95.5%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background: #003f0d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #00471f;
    color: white;
    font-weight: 600;
}


.log {
    position: absolute;
    top: 20px;
    right: 20px;
}

.log a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

footer {
    background: #003d16;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}




