
* {
    margin: 0;
    padding: 0;
   
}

header {
    background: linear-gradient(135deg, #00471f, #002108);
    color: white;
    padding: 1rem ;
    position: relative;
}

header h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}


.log {
    position: absolute;
    top: 20px;
    right: 20px;
}

.log a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

footer {
    background: #003d16;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}




